* {
box-sizing: border-box;
}

body {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 20px;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main {
  padding: 4%;
}


.bulletinWrapper,
.boardWrapper {
  display:flex;
  flex-wrap: wrap;
  
}

.bulletinWrapper {
  position: relative;
  flex-direction: column;
  padding:  40px;
  background-color: bisque;
  margin: 10px;
  width: 100%;
  @media (min-width: 768px){
    width: calc(50% - 20px) 
  }
  @media (min-width: 1200px){
    width: calc(33.33% - 20px) 
  }
  @media (min-width: 1600px){
    width: calc(25% - 20px) 
  }
  box-shadow: 5px 5px 6px 0px rgb(0 0 0 / 10%);
}


.bulletinWrapper:before{
  content:"";
  display:block;
  position:absolute;
  width: 20px;
  height:20px;
  background-color: red;
  left: 0;
  top:0;
}