* {
  box-sizing: border-box;
  
  
  @font-face {
    font-family: myFirstFont;
    src: url(Your\ Doodle\ Font.ttf);
  }
}

body {
  // position: absolute;
  // top: 0;
  // left: 0;
  // margin: 0;
  // padding: 20px;
  // font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
background-image: url('./corkboard.jpg');
height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
font-family: 'Permanent Marker', cursive;
}

.main {
  padding: 4%;
}


.bulletinWrapper,
.boardWrapper {
  display:flex;
  flex-wrap: wrap;
  
}

.bulletinWrapper {
  position: relative;
  flex-direction: column;
  padding:  40px;
  background-color: #ffe37e;
  margin: 10px;
  width: 100%;
  @media (min-width: 768px){
    width: calc(50% - 20px) 
  }
  @media (min-width: 1200px){
    width: calc(33.33% - 20px) 
  }
  @media (min-width: 1600px){
    width: calc(25% - 20px) 
  }
  box-shadow: 5px 5px 6px 0px rgb(0 0 0 / 10%);
}


.bulletinWrapper:before{
  content:"";
  display:block;
  position:absolute;
  width: 30px;
  height:30px;
  background-color: rgb(226, 1, 1);
  left: 20px;
  top:20px;
  border-radius: 100%;
  box-shadow: 5px 5px 6px 0px rgb(0 0 0 / 10%);
}

.bulletinWrapper:after{
  content:"";
  display:block;
  position:absolute;
  width: 16px;
  height:16px;
  background-color: rgb(255, 0, 0);
  left: 27px;
  top:28px;
  border-radius: 100%;
  box-shadow: 5px 5px 6px 0px rgb(0 0 0 / 15%);
  z-index: 10;
}

.formWrapper{
  padding: 20px 20px 6%;
  width: 100%;
  background-color: #282727;
  color:#fff;
  margin-top: 8%;
  box-shadow: 5px 5px 6px 0px rgb(0 0 0 / 10%);
  h2{
    font-family: myFirstFont;
  }
}


form{
  display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 80%;
    margin: 0 auto;
    label{
      margin-right: 20px;
    }
   
    button{
      padding:10px 20px;
      background-color: red;
      color:#fff;
      border:none;
      font-weight: bold;
      letter-spacing: 1px;
  
    }
  }
  h1 {
    font-family: myFirstFont;
    color:#fff;
    text-align: center;
    font-size: 10em;
    letter-spacing: 3px;
    text-shadow: 5px 5px 5px #282727;
  }

// h1{
//   text-align: center;
//   font-size: 6em;
//   letter-spacing: 3px;
//   text-shadow: 5px 5px 5px #282727;
//   color:#fff
// }
